.pagecontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .2fr 0.1fr 1.6fr .1fr;
  margin: auto;
  width: 90vw;
}

body {
  background-color: white;
}

header {
  grid-row: 1;
  grid-column: 1 / 5;
  padding: 1rem;
  text-align: center;
  font-family: 'Kameron', serif;
  color: #cc99ff;
  font-size: 3rem;
  background-image: url("images/headergraphic2.png");
  background-repeat: no-repeat;
  background-size: 650px 250px;
  background-position: center;
}

aside {
  grid-row: 2;
	grid-column: 2 / 4;
  padding-right: 2rem;
}

aside nav ul {
  text-align: center;
}


aside nav ul li {
  display: inline;
  font-family: 'Signika', sans-serif;
  font-size: 2rem;
  list-style-type: none;
}

aside nav ul li a {
  padding-left: 1rem;
  padding-right: 1rem;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

.bodysection {
  grid-row: 3;
	grid-column: 1 / 5;
}

h2 {
  font-family: 'Amaranth', sans-serif;
  font-size: 2.5rem;
}

footer {
  grid-row: 4;
	grid-column: 1 / 5;
	text-align: center;
	padding: 2rem;
  font-family: 'Signika', sans-serif;
}

/*This is the container div where you declare CSS grid display
and set up how many columns and rows are needed for the image grid.
You could then go on to position each div on the grid though if
they are equidistant it is not necessary.
fr is a fractional, scalable unit for relative portions of the page,
but you can use other units like pixels too*/
.spotlight {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.image-container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-gap: 2rem;
  max-width: 90vw;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-left: 3rem;
  background: white;
}

.imagebox {
  padding: 1.5rem;
  max-width: 60vw;
  background: #ffe6ff;
}

img{
  width: 60vw;
  height: 100%;
}

/* You could add grid postioning here for these child items of the grid container and other unique styleing
.project1 {}
.project2 {}
.project3 {}
.project4 {} */


/*****Responsive for Larger Screens*******/
@media only screen and (min-width: 900px)  {
/*sets the header image to full screen width*/
  header {
    background-size: 650px 250px;
  }



  .image-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2rem;
    max-width: 60vw;
    margin: auto;
    padding-top: 1rem;
    padding-right: 8rem;
    background: white;
  }

  .imagebox {
    padding: 1.5rem;
    background: #ffe6ff;
  }

  .spotlight {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }


  img{
    width: 30vw;
    height: 100%;
  }
